/* Dashboard page styles */

.dashboard {
  background: linear-gradient(to right, #c1d2e3, #b1bcc7);
  min-height: 100vh;
}
.dashboard main {
  text-align: center;
  height: 100%;
  position: relative;
}
.pins {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 50%;
  margin: 50px auto 0;
  text-align: left;
  height: 70vh;
  overflow-y: auto;
  resize: none;
  padding-right: 10px;
}

/* Custom scrollbar styles */
.pins::-webkit-scrollbar {
  width: 8px;
}
.pins::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.pins::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.create-pin-btn {
  position: absolute;
  top: 0%;
  left: calc(50% + 25% + 30px);
  transform: translateX(0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #214150;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.create-pin-btn:hover {
  transform: scale(1.1);
}

.create-pin-btn:focus {
  outline: none;
  box-shadow: none;
}

/* Media query for mobile styling */
@media (max-width: 480px) {
  .create-pin-btn {
    width: 30px;
    height: 30px;
  }
}
