.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 18vh;
  padding: 0 60px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #0f2027, #2c5364);
}

.navbar-header {
  font-size: 2rem;
  text-decoration: none;
  color: #c1d2e3;
}

.logout-btn {
  text-decoration: none;
  font-size: 1.4rem;
  height: 100%;
  color: #c1d2e3;
  border: none;
  background: none;
  cursor: pointer;
}
.logout-btn:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}
